.wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    min-height: calc(100vh - 45px);
}

.header_replacer {
    height: 100px;
}

.wrapper .top_section .main .label {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;

    text-align: left;

    color: #000000;

    padding-top: 27px;
    padding-bottom: 40px;
}

.lower_flex .label {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;

    text-align: left;

    color: #000000;

    margin-bottom: 25px;
    text-transform: uppercase;
}

.lower_flex .input_info {
    margin-bottom: 30px;
}

.short_input_wrapper {
    
    height: 60px;
    background: #EDEDED;
    border-radius: 10px;
    padding: 19px 30px;
    margin: 20px 0;
}

.short_input {
    width: 95%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: left;

    color: #9B9B9B;

    background-color: #EDEDED;

    appearance: none;
    -webkit-appearance: none;
    -ms-appearence: none;
    -o-appearence: none;

    border: none;
    outline: none;
}

.long_input_wrapper {
    
    height: 150px;
    background: #EDEDED;
    border-radius: 10px;
    padding: 19px 30px;
    margin: 20px 0;
}

.lower_flex {
    width: 40%;
}

.long_input {
    width: 95%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: left;

    color: #9B9B9B;

    background-color: #EDEDED;

    appearance: none;
    -webkit-appearance: none;
    -ms-appearence: none;
    -o-appearence: none;

    border: none;
    resize: none;
    outline: none;
}

.button_flex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

#add_order, #public {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    padding: 18px 40px;
    margin-bottom: 15px;

    background: #6B357D;
    border-radius: 10px;     
    transition: all 0.5s ease 0.0s;
}

#add_order:hover, #public:hover {
    background-color: violet;
    transform: scale(1.1);
}

.order-lang {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.lang-label {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #606060;
}

.options {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 20px 0;
}

.options label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #787878;
}

.options input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -o-appearence: none;
    -ms-appearence:none;
    display: none;
}

.options label {
    cursor: pointer;
    border-bottom: 2px solid #e5e5e5;
}

.options input[type="checkbox"]:checked + label {
    color: #6B357D;
    border-bottom: 2px solid #6B357D;
}


.order_input_form {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#add-button {
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

#add-button:hover {
    border: 2px solid violet;
    color: violet;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.port, .cargo {
    width: 100%;
}

.status_agreement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background: #EDEDED;
    border-radius: 10px;
    padding: 19px 30px;
    margin: 20px 0;
    font-size: 18px;
    color: #9B9B9B;
}

.agreement .ok {
    color: #04C200;
}

.agreement .not_ok {
    color: #CB0000;
}

