body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrapper {
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper .header_replacer {
    height: 100px;
}

.wrapper .doc-wrapper, .geo_info {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.wrapper .doc-wrapper .title td, .geo_info .title {
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid lightgray;
    width: 100%;
}

.title td {
    border: none;
    text-align: center;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    padding: 15px 25px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    border: 2px solid lightgray;
    background-color: lightgray;
}

td {
    padding: 15px 25px;
    text-align: left;
    font-size: 18px;
    line-height: 22px;
    border: 2px solid lightgray;
}

#status {
    text-align: center;
}

#status_shipping_td {
    border: none;
    border-right: 2px solid lightgray;
}

#dates_text_td {
    border: none;
    border-left: 2px solid lightgray;
}

.ok {
    color: #04C200;
}

.not_ok {
    color: #CB0000;
}

.geo_info #map {
    width: 100%;
    height: 650px;
    border-radius: 0 0 10px 10px;
}

#add-button {
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

#add-button:hover {
    border: 2px solid violet;
    color: violet;
}

#export {
    color: #6B357D;
    cursor: pointer;
    transition: all 0.3s ease 0.0s;
    width: 40px;
    height: 36px;
}

.export {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
}

#export:hover {
    transform: scale(1.1);
}

.export:hover {
    color: violet;
}

.actions {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 25px 10%;

    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.actions a {
    font-size: 20px;
    color: white;
    font-weight: normal;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #6B357D;
    transition: all 0.1s ease 0.0s;
}

.actions a:hover {
    background-color: violet;
}

.status_agreement {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10%;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgb(0 0 0 / 5%);
    border-radius: 10px;
    color: #9B9B9B;
    font-size: 18px;
}

.agreement .ok {
    color: #04C200;
}

.agreement .not_ok {
    color: #CB0000;
}

