.big_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    min-height: calc(100vh - 45px);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    width: 80%;
    padding: 50px 0;
}

.header_replacer {
    height: 100px;
    width: 100%;
}

.wrapper {
    width: 100%;
    background-color: white;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
}

.main {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    padding: 30px 0 15px 0;
    border-bottom: 2px solid #D2D8E0;
}

#contacts-list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

#contacts-list li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    width: 100%;
}

#contacts-list li .description {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#contacts-list .text {
    margin-left: 30px;
}

#contacts-list .contacts {
    font-size: 16px;
    color: gray;
}

#contacts-list li img {
    width: 100px;
    height: 100px;
    border: 2px solid #6B357D;
    border-radius: 50%;
}
