.eth-connect-wrapper {
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background-color: #e5e5e5;
    position: absolute;
}

.connect-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
}

.connect-wrapper .title {
    font-size: 30px;
    color: black;
    border-bottom: 2px solid #6B357D;
    width: 100%;
    padding: 30px;
    text-align: center;
}

.connect-wrapper .btn-connect {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect-wrapper .btn {
    width: 200px;
    height: 70px;
    background-color: #6B357D;
    color: white;

    text-align: center;
    padding: 20px;
    font-size: 25px;
    line-height: 30px;
    border-radius: 20px;
    transition: all 0.2s ease 0.0s;
    cursor: pointer;
    border: none;
    outline: none;
}

.connect-wrapper .btn:hover {
    transform: scale(1.1);
    background-color: violet;
}

.connect-wrapper .instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

.instructions a {
    text-decoration: none;
    text-align: center;
    padding: 5px;
    color: gray;
    
}

.instructions a:hover {
    color: violet;
}

.show-account {
    width: 100%;
    font-size: 16px;
    text-align: center;
}