footer { 
    width: 100%;
    background-color: #6B357D;
    z-index: 1;
    height: 45px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .footer-info {
    color: white;
    width: 90%;
    text-align: center;
    padding: 12px 25px 10px 25px;
    font-size: 12px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer ul li {
    list-style: none;
    text-decoration: none;
}

footer ul li a {
    margin-right: 5px;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: white;
}

footer ul li a:hover {
    color: violet;
}

footer #copyright {
    font-size: 12px;
    border-right: 1px solid white;
    padding-right: 10px;
    margin-right: 5px;
}