footer { 
    width: 100%;
    background-color: #6B357D;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

footer .footer-info {
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 12px;
}

footer small {
    font-size: 12px;
    border-right: 1px solid white;
    padding-right: 10px;
    margin-right: 5px;
}