header {
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
    background-color: #6B357D;
    min-height: 100px;
    width: 100%;
    z-index: 20;
}

.header.active {
    background-color: #e5e5e5;
}

header .banner a {
    height: 100%;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    min-width: 460px;
    cursor: pointer;
    float: left;
}

header .banner img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0;
    margin-right: 15px;
}

#icon-user {
    padding-right: 15px;
}

.nav-links {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links .inactive {
    color: #FFFFFF;
}

.nav-links .active {
    color: black;
}

.nav-links .inactive:hover {
    color: violet;
}

.nav-links .active:hover {
    color: #525252;
}

header .banner .active {
    cursor: pointer;
    color: black;
}

header .banner .inactive {
    cursor: pointer;
    color: white;
}

header .banner .active:hover {
    color: black;
}

header .banner .inactive:hover {
    color: white;
}

header .active {
    color: black;
}

header .inactive {
    color: white;
}

header .active:hover {
    color: #525252;
}

header .inactive:hover {
    color: violet;
}

#header_search .inactive {
    background-color: #6B357D;
    color: #FFFFFF;
    border-color: white !important;
}

#header_search .active {
    background-color: #e5e5e5;
    color: black;
    border-color: black;
}

.logo {
    cursor: pointer;
}

#header_search {
    width: 170px;
    padding: 10px 15px;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 5px;
}

#header_search input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

#header_search input[type="search"] {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    width: 80%;
}

#header_search i {
    transition:all 0.1s ease 0.0s;
}

#header_search i:hover {
    transform: rotate(90deg);
}

.right_block {
    display: inline-flex;
    justify-content: space-between;
    gap: 15px;
}

.lang a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
}

.ru {
    display: block;
}

.en {
    display: none;
}

@media (max-width: 1360px) {
    .temp {
        display: none;
    }
    .hidden {
        display: block;
    }
}