header {
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
    background-color: #6B357D;
    min-height: 100px;
    width: 100%;
    z-index: 20;
}

.header .active {
    background-color: #e5e5e5;
}

header .banner a {
    height: 100%;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    min-width: 460px;
    cursor: pointer;
    float: left;
}

header .banner img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0;
    margin-right: 15px;
}

#icon-user {
    padding-right: 15px;
}

.nav-links {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links li a {
    color: white;
}

.nav-links li a:hover {
    color: violet;
}

.login-button {
    color: white;
}

.login-button:hover {
    color: violet;
}

header .banner a {
    color: white;
}

.logo {
    cursor: pointer;
}

#header_search {
    width: 170px;
    padding: 10px 15px;
    background-color: #6B357D;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
}

#header_search input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

#header_search input[type="search"] {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    background-color: #6B357D;
    border: none;
    width: 80%;
    color: white;
}

#header_search i {
    transition:all 0.3s ease 0.0s;
}

#header_search i:hover {
    transform: rotate(90deg);
}

.right_block {
    display: inline-flex;
    justify-content: space-between;
    gap: 15px;
}

#icon-bell {
    color: white;

    padding-top: 2px;
}

#icon-bell:hover {
    color: violet;
}

.lang a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.ru {
    display: block;
}

.en {
    display: none;
}

.notifications {
    position: absolute;
    background-color: white;
    z-index: 100;
    top: 70px;
    right: 50px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

.notifications ul {
    list-style: none;
}

.notifications ul li {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #E2E2E2;
}

.notifications ul li .title {
    color: black;
}

.notifications ul li .ok {
    color: #04C200;
}

.notifications ul li .not-ok{
    color: #CB0000;
}

.notifications ul li .time {
    color: #8E8E8E;
}

@media (max-width: 1360px) {
    .temp {
        display: none;
    }
    .hidden {
        display: block;
    }
}