#hidden-check {
    display: none;
}

.hidden  {
    display: none;
}

#hidden-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

#hidden-button .active {
    color: black;
}

#hidden-button .inactive {
    color: white;
}

#hidden-button .inactive:hover {
    color: violet;
}

@media (max-width: 1360px) {
    .hidden {
        display: block;
    }
}

#hidden-menu {
    position: fixed;
    top: 100px;
    right: -250px;
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    transition: all 0.5s ease 0.0s;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px 0px 0px 10px;
    display: block;
    z-index: 200;
}

#hidden-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    gap: 20px;
    width: 100%;
}

#hidden-menu ul li {
    list-style: none;
    border-bottom: 2px solid #e5e5e5;
    padding: 5px;
    transition: all 0.3s ease 0.0s;
    width: 100%;
    text-align: center;
}

#hidden-menu ul li a {
    width: 100%;
}

#hidden-menu ul li:hover {
    color: violet;
    transform: scale(1.1);
    border-bottom: 2px solid #6B357D;
}