body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrapper {
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper .header_replacer {
    height: 100px;
}

.wrapper .top_section {
    width: 80%;
    background-color: #E5E5E5;
    margin: 0 10%;
}

.wrapper .top_section .main {
    height: 50%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.wrapper .top_section .main .label {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;

    text-align: left;

    color: #000000;

    padding: 30px 0;
}

.main .personal {
    display: inline-flex;
    justify-content: space-between;
}

.main .personal .data {
    display: inline-flex;
}

.main .personal .title, .main .personal .name {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.main .personal .content {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #434343;
}

.main .personal .data .text_data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.main .personal .data .text_data .lower {
    display: inline-flex;
    justify-content: space-between;
    gap: 50px;
}

.lower .head, .lower .port {
    display: inline-flex;
    justify-content: space-between;
    gap: 5px;
}

.main img {
    width: 160px;
    height: 170px;
    background: #C4C4C4;
    border-radius: 10px;
}

.settings a {
    transition: all 0.3s ease 0.0s;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #A7A7A7;
    display: inline-flex;
    justify-content: space-between;
    gap: 5px;
}

.settings a:hover {
    color: violet;
}

.wrapper .news {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;

    color: #000000;
    padding-bottom: 30px;
    padding-top: 60px;
}

.wrapper .top_section .search_line {
    height: 50%;
    width: 100%;
}

.search_text {
    width: 100%;
    height: 60px;
    padding-left: 25px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 10px;
}

.search_text .search_button {
    width: 145px;
    height: 100%;
    background-color: #6B357D;
    border-radius: 0px 10px 10px 0px;
    padding: 17px 20px;
}

.search_button a {
    color: white;
    text-transform: uppercase;

    text-align: center;
    transition: all 0.5s ease 0.0s;
}

.search_text .search_button i {
    color: white;
    margin-right: 20px;
    transition: all 0.5s ease 0.0s;
}

.search_text .search_button a:hover {
    color: violet;
}

.search_text .search_button i:hover {
    transform: rotate(90deg);
    color: violet;
}

.search_text input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearence: none;
    background-color: #E5E5E5;
    outline: none;
    border: none;

    height: 80%;
    width: 80%;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #787878;
}

.top_section .params {
    display: inline-flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 0px;
}

.top_section .params .filter {
    border: 2px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 11px;
}

.top_section .params select {
    appearance: none;
    -moz-appearance: none;
    -ms-appearence: none;
    -o-appearence: none;

    outline: none;
    border: none;

    background-color: #E5E5E5;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;

    color: #787878;
    cursor: pointer;
}

.top_section .output {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-left: 45px;
    cursor: default;
}

.top_section .output .result i {
    padding: 10px;
    cursor: pointer;
}

.top_section .output .result i:hover {
    color: #434343;
}

#all {
    display: none;
}

#current {
    display: block;
}

#suggests {
    display: block;
}

.top_section .output .result {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #787878;
}

.bottom_section {
    width: 100%;
    background-color: #E5E5E5;
    padding-top: 35px;
}

.orders_wrapper {
    width: 60%;
    float: left;
    margin-left: 10%;
    margin-right: 30%;
    
}

.labs_wrapper {
    width: 60%;
    float: left;
    margin-left: 10%;
    margin-right: 30%;
    
}

.order, .current_order {
    width: 100%;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.current_order .process {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
}

.process .process_name {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.process .status {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
}

#old {
    color: #CB0000;
}

#new {
    color: #04C200;
}

.process i {
    color: #8b8b8b;
}

.current_order .name {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding: 0 30px;
}

.current_order .task {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 15px 30px;
}

.current_order .contacts {
    display: inline-flex;
    
    padding: 0 30px;
    padding-bottom: 15px;

    gap: 30px;
}

.current_order .contacts .name {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    text-align: center;
    color: #686868;
    padding: 0;
}

.lab {
    width: 100%;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-bottom: 30px;
}

.order .name {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: left;

    color: #000000;

    padding: 20px 35px;
}

.order .task {
    padding: 0 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: left;

    color: #000000;
}

.order .owner {
    padding: 25px 35px;
    display: inline-flex;
}

.order .owner .owner_name {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #000000;
    padding: 8px 15px;
}

.order .owner img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.rights_holders {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.lab_flex {
    display: inline-flex;
    gap: 20px;
}

.lab_flex img {
    height: 200px;
    width: 200px;
    border-radius: 10px 0px 0px 10px;
}

.lab_flex .info .name {
    padding-top: 20px;
    padding-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: left;
}

.lab_flex .info .specs {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.vertical_lab_flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.participants {
    padding-bottom: 20px;
    display: inline-flex;
    gap: 30%;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

#add-button {
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

#add-button:hover {
    border: 2px solid violet;
    color: violet;
}

.profile {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.profile .label {
    text-align: center;
    font-size: 25px;
}

.short_input_wrapper {
    
    height: 60px;
    background: #EDEDED;
    border-radius: 10px;
    padding: 19px 30px;
    margin: 20px 0;
}

.short_input {
    width: 95%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: left;

    color: #9B9B9B;

    background-color: #EDEDED;

    appearance: none;
    -webkit-appearance: none;
    -ms-appearence: none;
    -o-appearence: none;

    border: none;
    outline: none;
}

.long_input {
    width: 95%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: left;

    color: #9B9B9B;

    background-color: #EDEDED;

    appearance: none;
    -webkit-appearance: none;
    -ms-appearence: none;
    -o-appearence: none;

    border: none;
    resize: none;
    outline: none;
}

.long_input_wrapper {
    
    height: 150px;
    background: #EDEDED;
    border-radius: 10px;
    padding: 19px 30px;
    margin: 20px 0;
}
