body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrapper {
    width: 100%;
    background-color: #E5E5E5;
}

.wrapper .header_replacer {
    height: 100px;
}

.wrapper .top_section {
    height: 180px;
    width: 80%;
    background-color: #E5E5E5;
    margin: 0 10%;
}

.wrapper .top_section .main {
    height: 50%;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.main .label {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
}

.wrapper .top_section .search_line {
    height: 50%;
    width: 100%;
}

.search_text {
    width: 100%;
    height: 60px;
    padding-left: 25px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 10px;
}

.search_text .search_button {
    width: 145px;
    height: 100%;
    background-color: #6B357D;
    border-radius: 0px 10px 10px 0px;
    padding: 17px 20px;
}

.search_button a {
    color: white;
    text-transform: uppercase;

    text-align: center;
    transition: all 0.5s ease 0.0s;
}

.search_text .search_button i {
    color: white;
    margin-right: 20px;
    transition: all 0.5s ease 0.0s;
}

.search_text .search_button a:hover {
    color: violet;
}

.search_text .search_button i:hover {
    transform: rotate(90deg);
    color: violet;
}

.search_text input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearence: none;
    background-color: #E5E5E5;
    outline: none;
    border: none;

    height: 80%;
    width: 80%;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #787878;
}

.found .label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #AAAAAA;

    margin-top: 10px;
    float: left;
}

.bottom_section {
    width: 100%;
    background-color: #E5E5E5;
    padding-top: 25px;
}

.orders_wrapper {
    width: 60%;
    float: left;
    margin-left: 10%;
    margin-right: 30%;
    
}

.labs_wrapper {
    width: 60%;
    float: left;
    margin-left: 10%;
    margin-right: 30%;
    
}

.order {
    width: 100%;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-bottom: 30px;
}

.lab {
    width: 100%;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-bottom: 30px;
}

.order .name {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: left;

    color: #000000;

    padding: 20px 35px;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.order .task {
    padding: 0 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: left;

    color: #000000;
}

.order .owner {
    padding: 25px 35px;
    display: inline-flex;
}

.order .owner .owner_name {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #000000;
    padding: 8px 15px;
}

.order .owner img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.lab_flex {
    display: inline-flex;
    gap: 20px;
}

.lab_flex img {
    height: 200px;
    width: 200px;
    border-radius: 10px 0px 0px 10px;
}

.lab_flex .info .name {
    padding-top: 20px;
    padding-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 15px;
}

.lab_flex .info .specs {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.vertical_lab_flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15px;
}

.participants {
    padding-bottom: 20px;
    display: inline-flex;
    gap: 30%;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.order_flex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
}

.available-lang {
    color: #787878;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
}

#add-button {
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

#add-button:hover {
    border: 2px solid violet;
    color: violet;
}