.wrapper {
    width: 100%;
    min-height: calc(100vh - 45px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .header-replacer {
    width: 100%;
    height: 100px;
}
.main {
    width: 80%;
    height: calc(100vh);
    background-color: #E5E5E5;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: calc((145px) / 2) 0;
    border-bottom: 2px solid #6B357D;
}

.about-us, .billboard, .reg {
    width: 80%;
    background-color: #E5E5E5;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: calc((145px) / 2) 0;
}

.about-us a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #6B357D;
    transition: all 0.3s ease 0.0s;
    border-bottom: 2px solid #E5E5E5;
    padding-top: 3%;
}

.about-us a:hover {
    transform: scale(1.1);
    border-bottom: 2px solid #6B357D;
}

.wrapper .main h1, .about-us h2, .billboard h2, .reg h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    width: 100%;
    padding-bottom: 5%;
}

.wrapper .main h3, .about-us p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    width: 100%;
    padding: 0;
}
 
.wrapper .button-holder {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    padding-top: 5%;
    gap: 50px;
}

.wrapper .button-holder a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    background-color: #6B357D;
    border-radius: 32px;
    padding: 17px 47px;
    transition: all 0.3s ease 0s;
    box-shadow: 10px black;
}

.wrapper .button-holder a:hover {
    background-color: violet;
    transform: scale(1.1);
}

.demo {
    background-color: black;
    width: 100px;
    height: 2000px;
}

.about-us .icons-about-us {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding-top: 60px;
}

.about-us .icons-about-us img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #6B357D;
}

.billboard .horizontal-flex {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.billboard-info img {
    width: 470px;
    height: 464px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.billboard .mid img {
    width: 101px;
    height: 101px;
}

.billboard-info {
    cursor: pointer;
}

.billboard-info h3 {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;

    color: #000000;
    padding-bottom: 25px;
}

.billboard-info .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.billboard p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    color: #000000;
    padding-top: 50px;
    max-width: 470px;
}

.reg {
    border: none;
}

.reg h2 {
    padding-bottom: 0;
}