.big_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    min-height: calc(100vh - 45px);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 80px;
}

.header_replacer {
    height: 100px;
}

.wrapper {
    width: 510px;
    height: 500px;
    background-color: white;
    
    
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
}

.wrapper .switch {
    width: 100%;
    height: 90px;
    border-bottom: 2px solid #D2D8E0;
}

.wrapper .switch ul {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    height: 88px;
}

.wrapper .switch ul li{
    text-decoration: none;
    list-style: none;
    height: 100%;
    padding: 30px 15px;
}

.wrapper .switch ul li a {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
}

#login-item {
    color: black;
    
}

#login-li {
    border-bottom: 4px solid #979797;
    transition: all 0.5s ease 0.0s;
}

#register-li {
    border-bottom: 4px solid white;
    transition: all 0.5s ease 0.0s;
}

#register-li:hover {
    border-bottom: 4px solid #979797;
}

#register-item {
    color: #8D8D8D;
}


.main {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    padding: 30px 0 15px 0;
}


input[type="text"], input[type="password"] {
    width: 436px;
    height: 48px;
    left: 502px;
    top: 436px;

    background: #F6F9FC;
    border-radius: 15px;
    border: 2px solid white;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: left;

    color: #8D8D8D;

    margin: 15px auto;
    padding: 12px 25px;
    outline: none;
}

input:focus {
    border: 2px solid #979797;
}

.forgot {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #373737;

    padding: 10px;
    margin: 0 auto;
    width: 230px;
    cursor: pointer;
}

.forgot:hover {
    color: #979797;
}

.submit {
    display: block;
    width: 172px;
    height: 48px;

    margin: 20px auto;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;

    color: #FFFFFF;

    padding: 10px;

    background: #6B357D;
    border-radius: 15px;

    text-align: center;

    transition: all 0.5s ease 0s;
}

.submit:hover {
    background-color: violet;
}

.networks {
    margin-bottom: 40px;
}

.networks .spacer {
    height: 100px;
}

.networks .message {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    color: #525252;

    cursor: default;

    margin-bottom: 20px;
}

.networks_wrapper {
    display: inline-flex;
    justify-content: space-around;
    width: 315px;
}

.networks_wrapper a {
    background-color: lightgray;
    border-radius: 50%;
    padding: 8px;
    border: 2px solid black;
}

