.big_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    min-height: calc(100vh - 45px);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 80px;
}

.header_replacer {
    height: 100px;
}

.wrapper {
    width: 510px;
    height: 570px;
    background-color: white;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
}

.wrapper .switch {
    width: 100%;
    height: 90px;
    border-bottom: 2px solid #D2D8E0;
}

.wrapper .switch ul {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    height: 88px;
}

.wrapper .switch ul li{
    text-decoration: none;
    list-style: none;
    height: 100%;
    padding: 30px 15px;
}

.wrapper .switch ul li a {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
}

#login-item {
    color: #8D8D8D;
}

#login-li {
    border-bottom: 4px solid white;
    transition: all 0.5s ease 0.0s;
}

#register-li {
    border-bottom: 4px solid #979797;
    transition: all 0.5s ease 0.0s;
}

#login-li:hover {
    border-bottom: 4px solid #979797;
}

#register-item {
    color: black;
}


.main {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    padding: 30px 0 15px 0;
}


.wrapper .inputs input {
    width: 436px;
    height: 48px;
    left: 502px;
    top: 436px;

    background: #F6F9FC;
    border-radius: 15px;
    border: 2px solid white;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: left;

    color: #8D8D8D;

    margin: 15px auto;
    padding: 12px 25px;
    outline: none;
}

.wrapper .inputs input:focus {
    border: 2px solid #979797;
}


.submit {
    display: block;
    width: 172px;
    height: 48px;

    margin: 20px auto;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;

    color: #FFFFFF;

    padding: 10px;

    background: #6B357D;
    border-radius: 15px;

    text-align: center;

    transition: all 0.5s ease 0s;
}

.submit:hover {
    background-color: violet;
}

.networks {
    margin-bottom: 40px;
}

.networks .spacer {
    height: 100px;
}

.networks .message {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    color: #525252;

    cursor: default;

    margin-bottom: 20px;
}

.networks_wrapper {
    display: inline-flex;
    justify-content: space-around;
    width: 315px;
    margin: 0 25px;
}

.networks_wrapper a {
    background-color: lightgray;
    border-radius: 50%;
    padding: 8px;
    border: 2px solid black;
}

.agreement {
    display: inline-block;
    width: 80%;
    margin: 0 10%;
}

.agreement input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    float:left;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: 2px solid #8D8D8D;
}

.agreement input[type="checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f00c';
    font-size: 14px;
    color: white;
    display: none;
}

.agreement input[type="checkbox"]:checked {
    background-color: #6B357D;
    border-color: #525252;
}

.agreement input[type="checkbox"]:checked:after {
    display: block;
}

.agreement input[type="checkbox"]:hover {
    border-color: #525252;
}

.agreement .agree-message {
    color: #8D8D8D;
}

.agreement .agree-message a {
    color: #525252;
}

.agreement .agree-message a:hover {
    text-decoration: underline;
}

.role-choice {
    width: 80%;
    margin: 0 10%;

}

.role-choice .label {
    width: 100%;
    text-align: center;
    margin: 25px 0 15px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.role-choice .roles {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 25px;
    margin: 0;
    
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 35px;
}

.roles .role {
    height: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #525252;
    display: inline-flex;
    justify-content: space-around;
    gap: 5px;
}

.role-choice .roles input[type="radio"] {
    width: 20px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #8D8D8D;
    border-radius: 50%;
    margin: 2px;
    padding: 1px 1px 1px 1px;
    display: block;
}

.role-choice .roles input[type="radio"]::after {
    content: "";
    display: none;
    width: 100%;
    height: 100%;
    background-color: #6B357D;
    border-radius: 50%;
}

.role-choice .roles input[type="radio"]:hover {
    border-color: #525252;
}

.role-choice .roles input[type="radio"]:checked {
    transition: all 0.2s ease 0.0s;
    border-color: #6B357D;
}

.role-choice .roles input[type="radio"]:checked:after {
    display: block;
}