#menu_controller {
    display: none;
}

#hamburger {
    position: fixed;
    top: 130px;
    left: 80px;
    color: #6B357D;
    cursor: pointer;
    transition: all 0.3s ease 0.0s;
    width: 36px;
    height: 36px;
}

#hamburger:hover {
    transform: scale(1.1);
}

.sidebar {
    position: fixed;
    left: -400px;
    width: 400px;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 40px;
    transition: all 0.5s ease 0.0s;
}

.sidebar .header_replacer_sidebar {
    width: 100%;
    height: 100px;
}

.sidebar .top_menu {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 40px;
}

.top_menu a {
    background: #6B357D;
    border-radius: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    padding: 12px 25px;
}

.top_menu a i {
    padding-right: 10px;
}

#cross {
    color: #6B357D;
    cursor: pointer;
    transition: all 0.3s ease 0.0s;
}

#cross:hover {
    transform: scale(1.1);
}

.bottom_menu ul {
    list-style: none;
}

.bottom_menu ul li {
    padding: 20px 10px;
}

.bottom_menu ul li a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

#menu_controller:checked ~ .sidebar{
    left: 0px;
}